.menu-sidebar-course-details {
  width: 500px;
  height: 46%;
  position: fixed;
  right: 0;
  top: 0;
  margin-right: 0px;
  background: #fff;
  overflow-y: auto;
}

.menu-sidebar-section {
  border-top: 1px solid rgb(110, 110, 110);
  width: 500px;
  height: 60%;
  position: fixed;
  right: 0;
  top: 425px;
  margin-right: 0px;
  background: #fff;
  overflow-y: auto;
  z-index: 99999999;
}

h3 {
  text-align: center;
  margin-bottom: 5px;
}

label {
  margin-right: 10px;
}

select {
  margin-right: 15px;
}
