<div class="section-toolbar">
    <label for="section">Section</label>
    <select id="section">
        <option>1</option>
        <option>2</option>
        <option>3</option>
    </select>

    <label for="year">Year</label>
    <select id="year">
        <option>2022</option>
        <option>2023</option>
    </select>

    <label for="semester">Semester </label>
    <select id="semester">
        <option>Fall</option>
        <option>Winter</option>
        <option>Spring</option>
        <option>Summer</option>
    </select>

</div>
<button (click)="addSection()" class="btn btn-primary btn-sm section-button">Add</button>

<nav class="navbar-sidebar">
    <table class="section-details-table" *ngIf="sections?.length > 0">
        <thead>
            <th>Section</th>
            <th>Year</th>
            <th>Semester</th>
        </thead>
        <tbody *ngFor="let s of sections">
            <tr>
                <td>{{ s.number }} </td>
                <td>{{ s.year }} </td>
                <td>{{ s.semester }} </td>
                <button class="btn btn-primary btn-sm section-button" (click)="deleteSection(s.id)">Delete</button>
            </tr>
        </tbody>
    </table>
</nav>