table,
th,
td {
    border: 1px solid black;
}

table {
    border-collapse: separate;
    border-radius: 5px;
}

th,
td {
    padding-top: 1px;
    padding-left: 5px;
    padding-right: 5px;
    text-align: center;
}